body{
    background-color: #F4F9F4;
    color: #393E46;

    margin: 0 1% 0 1%;
}

div{
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}



.content{
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    ". ."; 
}

.contentBox{
    background-color: #EEEEEE;

    height: 200px;

    display: grid; 
    grid-template-columns: 1.2fr 0.8fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        ". ."; 
}
.contentBox img{
    width: 100%;
    height: 100%;
    padding: 0;
    object-fit: cover;
    vertical-align: middle;
}
.contentBox p{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.contentBox h3{
    font-size: 30px;
    margin-left: 0;
}

.headBlog{
    background-color: #EEEEEE;
    margin: 15px;
    padding: 30px;
    font-weight: bold;
}

nav{
    background-color: #EEEEEE;
    width: 100%;
}

hr{
    margin: 15px;
    margin-bottom: 50px;
}
h3{
    margin: 15px;
}

footer {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 15px;
    background-color: #EEEEEE;
    text-align: center;
}

a{
    color: #393E46;
    text-decoration: none;
}
a:hover{
    color: #1e2024;
    text-decoration: none;
}


.card-img-right {
    height: 100%;
    border-radius: 0 3px 3px 0;
  }
  
  .flex-auto {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
  }